<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webnewsstate" value="1"/>
    <add key="CKFinder:ImgSize" value="1000"/>
    <add key="maximg" value="1000"/>
    <add key="webname" value=""/>
    <add key="webkeywords" value=""/>
    <add key="webdescription" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="connstring" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BootstrapManage.mdb;"/>
    <add name="datapath" connectionString="~/App_Data/BootstrapManage.mdb"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
  </system.webServer>
</configuration>