<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webnewsstate" value="1" />
    <add key="CKFinder:ImgSize" value="1000" />
    <add key="maximg" value="1000" />
    <add key="webname" value="履带式挖掘机,轮式挖掘机,挖掘机租赁,二手设备超市,河南凯晟工程机械有限公司" />
    <add key="webkeywords" value="履带式挖掘机,轮式挖掘机,挖掘机租赁,二手设备超市,河南凯晟工程机械有限公司" />
    <add key="webdescription" value="履带式挖掘机,轮式挖掘机,挖掘机租赁,二手设备超市,河南凯晟工程机械有限公司,河南省三合重工 主要经营压实设备、小型挖掘机、混凝土设备、路面养护设备等产品的的研发、制造、销售、服务和配件供应,咨询热线:4001613369" />
  </appSettings>
  <connectionStrings>
    <add name="connstring" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BootstrapManage.mdb;"/>
    <add name="datapath" connectionString="~/App_Data/BootstrapManage.mdb"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
  </system.webServer>
</configuration>